<p-button #addButton class="ml-2" icon="pi pi-plus" title="add cryptocurrency" [rounded]="true" severity="success" [text]="true" [raised]="true" (click)="openDialog(null)"></p-button>

<p class="p-component">Total Price: {{ total | currency: 'USD' }}</p>
<p-table [value]="cryptos" styleClass="p-datatable-striped" [loading]="showSpinner" [scrollable]="true" [paginator]="true" [rows]="5">
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th>CMC ID</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
      <th>Remark</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-crypto>
    <tr>
      <td>
        <p-button class="ml-2" icon="pi pi-pencil" title="update cryptocurrency" [rounded]="true" severity="info" [text]="true" [raised]="true" (click)="openDialog(crypto)"></p-button>
        <p-button class="ml-2" icon="pi pi-trash" title="delete cryptocurrency" [rounded]="true" severity="danger" [text]="true" [raised]="true" (click)="confirmDialog($event, crypto.cmcId)"></p-button>
      </td>
      <td>{{ crypto.cmcId }}</td>
      <td>{{ crypto.name }}</td>
      <td>{{ crypto.quantity }}</td>
      <td>{{ crypto.price | currency: 'USD' }}</td>
      <td>{{ crypto.quantity * crypto.price | currency: 'USD' }}</td>
      <td>{{ crypto.remark }}</td>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog></p-confirmDialog>

<p-dialog [header]="isEdit ? 'Update Crypto' : 'Add Crypto'" [(visible)]="displayModal" [modal]="true"
  [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
  <div class="card" [formGroup]="cryptoForm">
    <div class="field mt-4">
      <span class="p-float-label">
        <p-autoComplete [suggestions]="filteredCmcs" (completeMethod)="filterCmc($event)" field="name"
          [dropdown]="false" formControlName="cmc" [ngClass]="{'ng-invalid ng-dirty': isInvalid('cmc')}"
          (keyup.enter)="submitChange()" [autofocus]="true">
          <ng-template let-cmc pTemplate="cmcObjs">
            <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/{{cmc.cmcId}}.png" alt="{{cmc.cmcId}}" width="16" height="16" />
            {{cmc.name}}
          </ng-template>
        </p-autoComplete>
        <label for="cmc">CMC Object*</label>
      </span>
      <small *ngIf="isInvalid('cmc')" id="cmc-help" class="p-error">
        <ng-container *ngIf="cmc?.errors?.cmc && !cmc?.errors?.required">CMC Object must be chosen from dropdown.</ng-container>
        <ng-container *ngIf="cmc?.errors?.required">CMC Object is required.</ng-container>
      </small>
    </div>
    <div class="field mt-4">
      <span class="p-float-label">
        <input id="quantity" type="text" pInputText aria-describedby="quantity-help" formControlName="quantity"
          [ngClass]="{'ng-invalid ng-dirty': isInvalid('quantity')}" (keyup.enter)="submitChange()">
        <label for="quantity">Quantity*</label>
      </span>
      <small *ngIf="isInvalid('quantity')" id="quantity-help" class="p-error">Quantity is required.</small>
    </div>
    <div class="field mt-4">
      <span class="p-float-label">
        <input id="remark" type="text" pInputText formControlName="remark" (keyup.enter)="submitChange()">
        <label for="remark">Remark</label>
      </span>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button class="ml-2" icon="pi pi-check" title="Yes" label="Yes" [rounded]="true" severity="success" [text]="true" [raised]="true" (click)="submitChange()"></p-button>
    <p-button class="ml-2" icon="pi pi-times" title="No" label="No" [rounded]="true" severity="danger" [text]="true" [raised]="true" (click)="displayModal = false"></p-button>
  </ng-template>
</p-dialog>