<div class="card" [formGroup]="keyForm">
  <div class="field mt-4">
    <span class="p-float-label">
      <input id="name" type="text" pInputText formControlName="name" (keyup.enter)="confirmLogin()" autofocus>
      <label for="name">Name</label>
    </span>
  </div>
  <div class="field mt-4">
    <span class="p-float-label">
      <input id="password" type="password" pInputText formControlName="password" (keyup.enter)="confirmLogin()">
      <label for="password">Password</label>
    </span>
  </div>
</div>
<ng-template pTemplate="footer">
  <button pButton pRipple type="button" label="OK" class="p-button-outlined p-button-success" title="login"
    (click)="confirmLogin()"></button>
</ng-template>