@if (cs.isMobile()) {
<p-sidebar [(visible)]="!hidden">
  <h3>Menu</h3>
  <p>
    <ng-container [ngTemplateOutlet]="menu"></ng-container>
  </p>
</p-sidebar>
} @else {
<div class="shadow-2 p-4 h-full p-component" [hidden]="hidden">
  <ng-container [ngTemplateOutlet]="menu"></ng-container>
</div>
}

<ng-template #menu>
  <ul class="layout-menu">
    <li>
      <a routerLink="/crypto" routerlinkactive="active-route" class="p-element">
        <i class="pi pi-dollar"></i>
        <span>Crypto</span>
      </a>
      <a routerLink="/key" routerlinkactive="active-route" class="p-element">
        <i class="pi pi-key"></i>
        <span>Key</span>
      </a>
    </li>
  </ul>
</ng-template>