<div class="mb-4">
  <input #filterInput aria-label="search key" placeholder="Search Name" type="text" pInputText [formControl]="filter" (keyup.enter)="searchKeys()" />
  <p-button class="ml-2" icon="pi pi-search" title="search key" [rounded]="true" [outlined]="true" (click)="searchKeys()"></p-button>
  <p-button class="ml-2" icon="pi pi-plus" title="add key" [rounded]="true" severity="success" [outlined]="true" (click)="openDialog(null)"></p-button>
</div>

<p-table [value]="keys" styleClass="p-datatable-striped" [loading]="showSpinner" [scrollable]="true"
  scrollHeight="800px">
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-key>
    <tr>
      <td>
        <p-button class="ml-2" icon="pi pi-pencil" title="update key" [rounded]="true" severity="info" [outlined]="true" (click)="openDialog(key)"></p-button>
        <p-button class="ml-2" icon="pi pi-trash" title="delete key" [rounded]="true" severity="danger" [outlined]="true" (click)="confirmDialog($event, key.name)"></p-button>
      </td>
      <td>{{ key.name }}</td>
      <td>{{ key.key }}</td>
      <td>{{ key.value }}</td>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog></p-confirmDialog>

<p-dialog [header]="isEdit ? 'Update Key' : 'Add Key'" [(visible)]="displayModal" [modal]="true"
  [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
  <div class="card" [formGroup]="keyForm">
    <div class="field mt-4">
      <span class="p-float-label">
        <input id="name" type="text" pInputText aria-describedby="name-help" formControlName="name"
          [ngClass]="{'ng-invalid ng-dirty': isInvalid('name')}" (keyup.enter)="submitChange()">
        <label for="name">Site Name*</label>
      </span>
      <small *ngIf="isInvalid('name')" id="name-help" class="p-error">Site Name is required.</small>
    </div>
    <div class="field mt-4">
      <span class="p-float-label">
        <input id="key" type="text" pInputText aria-describedby="key-help" formControlName="key"
          [ngClass]="{'ng-invalid ng-dirty': isInvalid('key')}" (keyup.enter)="submitChange()">
        <label for="key">Key*</label>
      </span>
      <small *ngIf="isInvalid('key')" id="key-help" class="p-error">Key is required.</small>
    </div>
    <div class="field mt-4">
      <span class="p-float-label">
        <input id="value" type="text" pInputText aria-describedby="value-help" formControlName="value"
          [ngClass]="{'ng-invalid ng-dirty': isInvalid('value')}" (keyup.enter)="submitChange()">
        <label for="value">Value*</label>
      </span>
      <small *ngIf="isInvalid('value')" id="value-help" class="p-error">Value is required.</small>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button class="ml-2" icon="pi pi-check" title="Yes" label="Yes" [rounded]="true" severity="success" [outlined]="true" (click)="submitChange()"></p-button>
    <p-button class="ml-2" icon="pi pi-times" title="No" label="No" [rounded]="true" severity="danger" [outlined]="true" (click)="displayModal = false"></p-button>
  </ng-template>
</p-dialog>