<p-toast position="top-center"></p-toast>
<div class="p-component">
  Name search: <input #filterInput type="text" pInputText [formControl]="filter" (keyup.enter)="searchKeys()"
    (blur)="searchKeys()" />
  <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-success p-button-text ml-2"
    (click)="openDialog(null)"></button>
</div>

<p-table [value]="keys" styleClass="p-datatable-striped" [loading]="showSpinner" [scrollable]="true"
  scrollHeight="800px">
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-key>
    <tr>
      <td>
        <button pButton pRipple type="button" icon="pi pi-pencil"
          class="p-button-rounded p-button-primary p-button-text" (click)="openDialog(key)"></button>
        <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"
          (click)="confirmDialog($event, key.name)"></button>
      </td>
      <td>{{ key.name }}</td>
      <td>{{ key.key }}</td>
      <td>{{ key.value }}</td>
    </tr>
  </ng-template>
</p-table>

<p-confirmPopup></p-confirmPopup>

<p-dialog [header]="isEdit ? 'Update Key' : 'Add Key'" [(visible)]="displayModal" [modal]="true"
  [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
  <div class="card" [formGroup]="keyForm">
    <div class="field mt-4">
      <span class="p-float-label">
        <input id="name" type="text" pInputText aria-describedby="name-help" formControlName="name"
          [ngClass]="{'ng-invalid ng-dirty': isInvalid('name')}">
        <label for="name">Site Name*</label>
      </span>
      <small *ngIf="isInvalid('name')" id="name-help" class="p-error">Site Name is required.</small>
    </div>
    <div class="field mt-4">
      <span class="p-float-label">
        <input id="key" type="text" pInputText aria-describedby="key-help" formControlName="key"
          [ngClass]="{'ng-invalid ng-dirty': isInvalid('key')}">
        <label for="key">Key*</label>
      </span>
      <small *ngIf="isInvalid('key')" id="key-help" class="p-error">Key is required.</small>
    </div>
    <div class="field mt-4">
      <span class="p-float-label">
        <input id="value" type="text" pInputText aria-describedby="value-help" formControlName="value"
          [ngClass]="{'ng-invalid ng-dirty': isInvalid('value')}">
        <label for="value">Value*</label>
      </span>
      <small *ngIf="isInvalid('value')" id="value-help" class="p-error">Value is required.</small>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" label="Yes" class="p-button-outlined p-button-success"
      (click)="submitChange()"></button>
    <button pButton pRipple type="button" label="No" class="p-button-outlined p-button-danger"
      (click)="displayModal = false"></button>
  </ng-template>
</p-dialog>